body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #624dcb;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
.container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
}
p {
    line-height: 1.6;
    text-align: center;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
